@model SpecFlow.Models.FormViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(mod => mod.Name)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(mod => mod.Name)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(mod => mod.Description)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(mod => mod.Description)
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @Html.LabelFor(mod => mod.EnumSelection)
    </div>
    <div class="col-md-10">
        @Html.DisplayFor(mod => mod.EnumSelection)
    </div>
</div>